body {
	background-image:url("./img/back.jpg");
	background-size: repeat;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	table-layout: fixed;
	width: 80%;
	opacity: 90%;
}

table td {
	overflow: hidden;
}

td {
	color: white;
	text-align: center;
}

#bar {
	background-color: black;
	opacity: 80%;
}

p {
	font-size: 85%;
	
}

text {
	font-weight: bold;	
}

button {
  background-color: #00A097;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
button:hover {
  background-color: #00C097;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


#div1 button {
	background-color: #3439cb;
}
#div2 button {
	background-color: #981e96;;
}
#div1 button:hover {
	background-color: #3459cb
}
#div2 button:hover {
	background-color: #983e96;
}

#base {
	height: 50px;
	width: 50px;
	display: block;
}

#card {
	height: 62px;
	width: 50px;
	display: block;
}

#empt {
	background-color: #120f2d;
	border: 2px solid #251f5f;
	border-radius: 10px;
}

#node {
	color: white;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	background-color: #362D89;
	border: 2px solid #251f5f;
	table-layout: fixed;
}

#node:hover {
	background-color: #361D89;
	border: 2px solid white;
	-webkit-transition-duration: 0.4s;
	border-radius: 10px;
	/* Safari */
	transition-duration: 0.4s;
}