svg {
    fill: currentColor
}

.pr-10 {
    padding-right: 10 !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.themeColor {
    background-color: transparent;
    border-radius: 0.375rem;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.navTabs.active {
    border-color: #ffffff00 #ffffff00 #ffffff #ffffff00 !important;
    border-bottom-width: 3px;
}

.navTabs:hover {
    border-color: #ffffff00 #ffffff00 #ffffff46 #ffffff00 !important;
    border-bottom-width: 3px;
}

.form-control-dark {
    color: #b1b1b1;
    background-color: #222;
    border: 1px solid #515151;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 0%);
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating>.form-control-dark:focus,
.form-floating>.form-control-dark:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating>.form-control-dark:focus,
.form-floating>.form-control-dark:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating>.form-control-dark {
    padding: 1rem 0.75rem;
}

.form-floating>.form-control-dark,
.form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.form-floating>.form-control-dark {
    padding: 1rem 0.75rem;
}

.form-floating>.form-control-dark,
.form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.form-control-dark {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-floating>.form-control-dark:focus~label,
.form-floating>.form-control-dark:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.showPlayers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    gap: 2rem;
}

.player {
    display: flex;
    align-items: flex-start;
}

.linkSpa::after {
    content: " \00b7\a0";
    font-weight: bold;
}

.playerImg1 {
    height: 5.43rem;
    width: 5.43rem;
    border-radius: 20.8rem;
    border: 1px solid rgb(249, 249, 251);
    background-color: rgb(214, 218, 222);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    margin-right: 1rem;
    margin-top: 0px;
}

.playerImg2 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    border-style: none;
    vertical-align: middle;
}

.playerImg3 {
    height: 5.43rem;
    width: 5.43rem;
    border-radius: 20.8rem;
    border: 1px solid rgb(249, 249, 251);
    background-color: rgb(214, 218, 222);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    margin-right: 1rem;
    margin-top: 0px;
}

.playerImg4 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    border-style: none;
    vertical-align: middle;
}

.mui-thceyd-header20 {
    margin: 0px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4;
    color: inherit;
}

.tss-zapqqm-body16 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.009375em;
}

.card {
    background-color: transparent;
    border: 1px solid #515151;
}

.playerData {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: start;
}

.ps-6 {
    padding-left: 5.8rem !important;
}

.accordionEdit {
    --bs-accordion-border-color: rgb(33, 37, 41) !important;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordionButt {
    padding: unset !important;
}
.accordionButt:focus {
    border-color: unset !important;
    box-shadow: unset !important;
    padding: unset !important;
}

.EntrantScore__icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    color: #000;
    font-size: 32px;
    position: relative;
}

.profile-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    color: #fff;
    border-radius: 50%;
}

.Player__avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    color: #fff;
    flex: none;
    position: relative;
    overflow: hidden;
    height: 2.5em;
    width: 2.5em;
}

.Player__avatar-container>:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

.Player__avatar {
    height: 1.5em;
    width: 1.5em;
    background-color: rgb(214, 218, 222);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
}

.legendTab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.navButtons {
    border-radius: 0 0 15px 15px;
}

.playerLetter {
    font-size: calc(2.715rem);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1;
    user-select: none;
    color: rgb(0, 0, 0);
}

.nav-link2 {
    display: block;
    color: #0d6efd;
    text-decoration: none;
    font-size: 22px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.tourneyImg1 {
    border-radius: 1rem;
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    overflow: hidden;
    user-select: none;
    margin-right: 1rem;
}

.tourneyImg2 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    border-style: none;
    vertical-align: middle;
}