body {
	box-sizing: border-box;
	font-family: Verdana;
	background-color: #121212;
	color: rgba(238,238,238,0.8);
	box-sizing: border-box;
}

#sao-header {
	background-color:#000000;
	padding:10px;
}
#sao-header h1 {
	color: #bb86fc;
}
#sao-header h4 {
	color: #03dac6;
}

.tocl {
  padding: 10px;
}

.tocl li {
  font-size: 17px;
  padding: 5px;
  margin-left: 35px;
}
.tocl li a {
	color: #03dac6;
}

.toc {
	color: #bb86fc;
	padding: 10px;
}

h3 {
	color: #03dac6;
}
h4 {
	color: #bb86fc;
}
h1 {
	color: #bb86fc;
}

hr {
	border-color: rgba(255,255,255,.12);
	margin: 0;
	border-width: 1px 0 0;
}