body {
	box-sizing: border-box;
	font-family: Verdana;
	background-color: #232931;
	color: rgba(238,238,238,0.8);
	box-sizing: border-box;
}

#sao-header {
	background-color:#393e46;
	padding:15px;
	elevation:24dp;
}

#sao-button {
	 background-color:#232931;
	font-size:30px;
}
h1, h2, h3, h5, h6 {
	background-color:#393e46;
}

.left {
  background-color:#232931;
  float:left;
  width:33%;
  text-align:left;
}

.middle {
  background-color:#232931;
  float:left;
  width:33%;
  padding:0 20px;
}
.right {
  background-color:#232931;
  float:left;
  width:33%;
  padding:0 15px;
  text-align:left;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .left, .middle, .right {
    width:100%;
  }
}