* {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type=text] {
  width: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-align: center;
}

input[type=text]:focus {
  border: 3px solid #555;
}
#pokebutton, #pokeagain {
  background-color: white;
  color: black;
  border: 5px solid #ffffff;
	width: 165px;
	padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}
#pokebutton:hover, #pokeagain:hover  {
  background-color: #B20000;
  color: white;
  border: 5px solid white;
  width: 200px;
	padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.sidenav {
  height: 95.6%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #53DA92;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  border-width: 10px;
  border-style: inset;
  border-radius: 5px;
  border-color: grey;
}
#pokeimage {
  position: fixed;
  left:400px;
}
